<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="/" class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['user', 1]">User 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['user', 2]">User 2</a>
    </li>
  </ul>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
