<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h1>{{ appName | async}}</h1>

      <div class="row">
        <div class="btn-group" role="group" aria-label="Actions">
          <button class="btn btn-success" (click)="onGet()">Get Server</button>
          <button class="btn btn-primary" (click)="onSave()">Save</button>
        </div>
      </div>

      <br>
      <br>

      <input type="text" #serverName placeholder="serverName">
      <button class="btn btn-success" (click)="onAddServer(serverName.value)">Add New Server</button>
      <hr>

      <div class="alert alert-danger" role="alert" *ngIf="errors">
        {{errors}}
      </div>

      <ul class="list-group" *ngFor="let server of servers">
        <li class="list-group-item">{{ server.name }} (ID: {{ server.id }})</li>
      </ul>
    </div>
  </div>
</div>
